.navbar-toggle {
    float: left;
    margin-left: 15px;
}

body {
    padding-bottom: 20px;
    font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif;
}

@media (max-width: 767px) {
    body {
        background-image:none;
        /*background-color:#ecf0f1;*/
    }
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}