.navbar-toggle {
    float: left;
    margin-left: 15px;
}

/*#top_menu > li {
    border-bottom: 4px solid transparent;
}

#top_menu > li:hover {
    border-bottom: 4px solid #5bc0de;
}*/


body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    /*background-color: #ecf0f1;*/
    /*background-image: url("../Images/Kite1.JPG");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;*/
    /*background-position: center;*/
}

@media (max-width: 767px){
    body {
        background-image:none;
        /*background-color:#ecf0f1;*/
    }
}
