.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgba(209, 209, 209,0.3);
}

/*.panel-tool {
    padding-top: 7.5px;
}*/

.btn-circle {
    width: 40px;
    height: 40px;
    line-height: 40px; /* adjust line height to align vertically*/
    padding: 0;
    border-radius: 50%;
}

.navbar-custom {
    /*background-color:#229922;*/
    background-color:#337ab7;
    border-color:#2e6da4;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    /*background-color: #33aa33;*/
    background-color:#286090;
    border-color:#204d74;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    /*background-color:#33aa33;*/
    background-color:#286090;
}


.navbar-custom .dropdown-menu {
    color: #262626;
    /*background-color:#286090;*/
}

.navbar-custom{background-repeat: repeat-x;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(51,122,183, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(51,122,183, .075);
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

.jumbotron {
    background-color: white;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

.page-header {
    border-bottom: 1px solid #286090;
}
hr {
    border-top: 1px solid #286090;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 360px;
}


.flex-container-wrap {
    display: flex;
    flex-wrap: wrap;
}

.menu-box280 {
    width: 280px;
}

.menu-box280-btn {
    cursor: pointer;
    border-radius: 4px;
    width: 90px;
    height: 90px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}


.menu-box280-btn-blank {
    border-radius: 4px;
    width: 90px;
    height: 90px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}


.menu-box280-btn:hover {
    /*border: 1px solid rgba(136,136,136,.1);*/
    /*opacity: 0.8;*/
    color:#2196f3;
}

.menu-box280-btn:active {
    transform: translate(0px,2px);
}

.menu-box-btn {
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding-top: 8px;
}

.menu-box-btn:hover {
    border: 1px solid rgba(136,136,136,.1);
    color: #2196f3
}
.menu-box-btn:active {
    transform: translate(0px,2px);
}


.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-bottom: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}