@using PagedList.Mvc;
@model PagedList.IPagedList<IMS.Models.TraceMaster>


@{
  ViewBag.Title = IMS.Resources.Resource.Model_Traceability;
}

<br />
<div class="row">
  <div class="col-sm-6">
    <div class="jumbotron text-center">
      <a href="@Url.Action("Trade")" class="btn btn-lg btn-link">
        <span class="fa fa-files-o"></span> 出售 >
      </a>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="jumbotron text-center">
      <a href="@Url.Action("Search")" class="btn btn-lg btn-link">
        <span class="fa fa-database"></span> 交易歷史紀錄查詢 >
      </a>
    </div>
  </div>
  
</div>


@section JS{
  <script>
        @*function getWorkList() {

            url = "@Url.Action("GetWorkList")";
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    $('#worklist').empty();
                    console.log(data);
                    $.each(data, function (index, item) {
                        if (index >= 10) {
                            return false;
                        }
                        var tr = $('<tr>').html('<td>' + (index+1) + '</td>'
                            + '<td>' + item.WorkCode + '</td>'
                            + '<td>' + item.WorkType + '</td>'
                            + '<td>' + item.WorkContent + '</td>');
                        $('#worklist').append(tr);
                    });


                }, error: function () {
                    $('#worklist').empty();
                    var error = $('<p>').html('Not Found');
                    $('#worklist').append(error);
                }

            });

        };*@

        //getWorkList();
  </script>



}