
<div class="modal fade" tabindex="-1" role="dialog" id="modal_checkSale">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">確認出售</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>履歷編號</th>
              <th>豬隻數量</th>
              <th>總公斤數</th>
            </tr>
          </thead>
          <tbody id="tbody">

          </tbody>

        </table>
        <hr />
        <div class="row" id="TradeTool">
          <div class="col-md-4">
            <p>豬隻總數: <input type="number" class="form-control" id="TradePigCnt" name="TradePigCnt" readonly></p>
          </div>
          <div class="col-md-4">
            <p>豬隻總重量(公斤): <input type="number" class="form-control" id="SumWeight" name="SumWeight" readonly></p>
          </div>
          <div class="col-md-4">
            <p>平均豬隻重量(公斤): <input type="number" class="form-control" id="avgWeight" name="avgWeight" readonly></p>
          </div>
          <div class="col-md-4">
            <p>交易價格: <input type="number" class="form-control" id="TradePrice" name="TradePrice"></p>
          </div>
          <div class="col-md-4">
            <p>平均價格(元/公斤): <input type="number" class="form-control" id="avgPrice" name="avgPrice" readonly></p>
          </div>
          <div class="col-md-4">
            <p>交易對象: <input type="text" class="form-control" id="TradeTo" name="TradeTo"></p>
          </div>
          <div class="col-md-4">
            <p>備註: <textarea class="form-control" id="TradeMemo" name="TradeMemo" cols="40" rows="3"></textarea></p>
          </div>

          <div class="col-md-4">
            <input type="hidden" class="form-control" id="TraceNos" name="TraceNos" cols="40" rows="3">
          </div>

        </div>
        
        @*<input type="hidden" id="PigFarmId" name="PigFarmId" value="@ViewBag.PigFarmId"/>*@
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" id="btn_OKSale" disabled>出售</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
  function ajax_addTradeRecord() {

    var $form = $('#TradeTool');
    var url = "http://" + document.location.host + "/api/TradeRecord";
    var data = $form.find('input[name],select[name]').serialize();
    
    console.log(data);
    $.ajax({
      type: "POST",
      url: url,
      data: data,
      success: function (data) {
        console.log(data);
        alert("交易成功");
        //location.reload();
      }
    });
  }




  function showCheckSale() {
    $('#tbody').empty();
    $('#TradeTool').find('input').val("");
    
    var tradePigCnt = 0;
    var tradePrice = 0;
    var sumWeight = 0;
    var avgWeight = 0;
    var avgPrice = 0;
    var traceNos = "";

    function enableSale() {
      if (parseInt(tradePrice)) {
        avgPrice = parseInt(tradePrice) / sumWeight;
        $('#avgPrice').val(avgPrice.toFixed(2));
        $('#btn_OKSale').attr("disabled", false);
      } else {
        $('#btn_OKSale').attr("disabled", true);
      }
    }

    $('.ckb_addItem:checked').each(function (index) {
      var tr = $(this).parents('tr');
      var traceNo = tr.find("td").eq(1).text().trim();
      var pigCnt = tr.find("td").eq(3).text();
      tradePigCnt += parseInt(pigCnt.replace("隻", ""));

      var element = '<input class="form-control pigWeight">';
      var editInput = $(element).attr({
        type: "number",

      });;

      var eq0 = $('<td>').text(traceNo);
      var eq1 = $('<td>').text(pigCnt);
      var eq2 = $('<td>').append(editInput);

      var addtr = $('<tr>');
      addtr.append(eq0);
      addtr.append(eq1);
      addtr.append(eq2);
      traceNos += traceNo + ";";
      $('#tbody').append(addtr);
    });

    console.log(traceNos);

    $('#TraceNos').val(traceNos.trim());


    $('#TradePigCnt').val(tradePigCnt);

    $('.pigWeight').change(function () {
      sumWeight = 0;
      $('.pigWeight').each(function (index) {
        if (parseInt($(this).val())) {
          sumWeight += parseInt($(this).val()); 
        }
      });
      $('#SumWeight').val(sumWeight);

      //算平均重量
      avgWeight = sumWeight/tradePigCnt;
      $('#avgWeight').val(avgWeight.toFixed(2));

      //算平均價格
      tradePrice = $('#TradePrice').val();
      enableSale();
    });

    $('#TradePrice').change(function () {
      tradePrice = $(this).val();
      enableSale();
    });


    
    $('#modal_checkSale').modal('show');
  }

  

</script>