
@{
    ViewBag.Title = "ShowPapper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="text-center">

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tabcontent0" aria-controls="tabcontent0" role="tab" data-toggle="tab">主架構</a></li>
            <li role="presentation"><a href="#tabcontent1" aria-controls="tabcontent1" role="tab" data-toggle="tab">經營管理-豬場基本資料</a></li>
            <li role="presentation"><a href="#tabcontent2" aria-controls="tabcontent2" role="tab" data-toggle="tab">經營管理-資料維護</a></li>
            <li role="presentation"><a href="#tabcontent3" aria-controls="tabcontent3" role="tab" data-toggle="tab">經營管理-環境數據</a></li>
            <li role="presentation"><a href="#tabcontent4" aria-controls="tabcontent4" role="tab" data-toggle="tab">生產履歷-生產流程</a></li>
            <li role="presentation"><a href="#tabcontent5" aria-controls="tabcontent5" role="tab" data-toggle="tab">生產履歷-加工流程</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <br />
            <div role="tabpanel" class="tab-pane active" id="tabcontent0">
                <div>
                    <img src="~/Images/system/智慧型畜牧場管理平台-養豬產業.jpg" />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabcontent1">
                <div>
                    <img src="~/Images/system/經營管理-豬場基本資料.jpg" />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabcontent2">
                <div>
                    <img src="~/Images/system/經營管理-資料維護.jpg" />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabcontent3">
                <div>
                    <img src="~/Images/system/經營管理-環境數據.jpg" />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabcontent4">
                <div>
                    <img src="~/Images/system/生產履歷-生產流程.jpg" />
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabcontent5">
                <div>
                    <img src="~/Images/system/生產履歷-加工流程.jpg" />
                </div>
            </div>
        </div>

    </div>
    
</div>