@model IMS.Models.PigBasic

@{
    ViewBag.Title = "FarrowingRecord";
}

<h2>FarrowingRecord</h2>

<div class="btn-group pull-right">
    @Html.ActionLink(IMS.Resources.Resource.Comm_BackToList, "Index", new { }, new { @class = "btn btn-default" })
</div>