
@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li class=""><a href="@Url.Action("Index","Main",new { area = "" })">首頁</a></li>
    <li class="">@IMS.Resources.Resource.SysMenu</li>
    <li class="active"><a href="@Url.Action("Index")">@IMS.Resources.Resource.AccountMgr</a></li>
</ol>

